@model Music_Store.ViewModels.VmLogon

@{
    ViewBag.Title = "LogOn";
    string inputClass = "form-control shadow-sm";
}

<h2>Log On</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = inputClass, @type="email", placeholder="example@gmail.com" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = inputClass, @type="password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="IsAdmin" class="form-label col-md-2">Is Admin</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input type="checkbox" value="true" id="IsAdmin" name="IsAdmin" class="form-check-input" />
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success shadow" />
            </div>
        </div>
    </div>
}

<div>
    <div class="mb-3">
        Already a member ? @Html.ActionLink("Log In", "LogIn", "Account", new { @class = "login-link fw-bold fs-5 ms-2" })
    </div>

    @Html.ActionLink("Back to Home", "Index", "Home")
</div>
